@import '../common/variables.css';

.nav {
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 4rem;
  line-height: 3.8rem;
  left: 0;
  overflow: hidden;
  width: 100%;
  background-color: var(--blue);

  &__item {
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 50%;
  }

  &__item--active:before {
    background-color: white;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    top: -2px;
    width: 100%;
  }
}