@import '../../common/variables.css';
@import '../../common/animations.css';

.departures__title {
  color: var(--yellow);
  margin-bottom: 1.25rem;
}

.departures__board {
  border: .25rem solid black;
  background-color: black;
}